<style>
    .about{
      font-size: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_BreakPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how2play">How to play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/About">About<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>

<h1>About CTF_BreakPoint</h1><br>
<div>
  <span class='about'>This is a CTF platform made by two students, José Crisanto and Pedro Costa, as their final project, in the bachelor of Cybersecurity and Computer Networks.
    The focus of this plataform is to unite, primarly, students from highschool who are interested in Cybersecurity, with that in mind we made an accessible platform for those students
    to motivate them to learn more about it by practicing in CTF challenges with friendly competition in the leaderboards to see who is the student who reaches the top!<br><br>
    We also encourge our users to propose new challenges, as well as to give us feedback on how to improve our platform and establish a better community. <br>Hope you enjoy your time with us and
    good hacking!
  </span>
</div>