<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_BreakPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/how2play">How to play <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>

<h1>Challenges Guide Lines</h1><br>
<p>To submit a challenge, all this infomation is needed:</p>

<p><strong>Title</strong> - The title of the challenge.</p>
<p><strong>Description</strong> - It needs to explain what the challenge consists of.</p>
<p><strong>Category</strong> - It must fit one the categories available in the plataform (<strong>Forensics, Steganography, Reverse Engineering, Web Exploitation, Cryptography  or Misc.</strong>).</p>
<p><strong>Dificulty</strong> - The level of dificulty (from 1 to 5).</p>
<p><strong>Resources</strong> - Files needed to solve the challenge, such as binaries, images, VMs and others. The hosted files have to be available to the general public 
  via a link so that it can be accessed by every user on the platform. Such hosting can be done in places like: Dropbox, GitHub, Google Drive, etc.
</p>
<strong>Note</strong>: When sending executables and binaries, they must be accompanied by their source code and compile instructions, that way, we can make sure it doesn't contain code that can harm the contestants computers
<p><strong>Hint</strong> - The challenge can have some hints to guide the player.
</p>
<p><strong>Flag</strong> - The flag proves that the challenge was solved and it needs to be in this format: ctf{abc_123}.<br>
It must ALWAYS start with "ctf{" and end with "}", in the middle it can only contain letters from a-z,A-Z (uppercase or lowercase), numbers from 0-9 and the simbol "_" (underscore).<br>
<strong>WARNING</strong>: The flag MUST NOT contain spaces!<br>
The flag can also be the result of the challenge, in a case where it cannot deliver a flag when the challenge is solved, for example:<br>
--> Challenge: "Find the code that permits the binary file to run."<br>
--> "use the code you find as a Flag" <br>
--> The code is 1234, then the flag will be ctf{1234}.
</p>
<p><strong>Writeup</strong> - There needs to be a file/document explaining, step by step, how to solve the challenge.</p><br>
<p>Only challenges that respect the guidelines can be in the platform!</p>
