<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_BreakPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/how2play">How to play <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>

<h1>Challenges Guide Lines</h1><br>
<p>To submit a challenge, all this infomation is needed:</p>

<p><strong>Title</strong> - the title of the challenge.</p>
<p><strong>Description</strong> - it needs to explain what the challenge consists of.</p>
<p><strong>Category</strong> - it must fit one the categories available in the plataform (<strong>Steganography,Reverse Engineering, Web Exploitation, Forensics or Misc.</strong>).</p>
<p><strong>Dificulty</strong> - The level of dificulty (from 1 to 5).</p>
<p><strong>Resources</strong> - files needed to solve the challenge, such as binaries, images, VMs and others like the solution to find all the Flags. The hosting of this files must be in a public
   access to every user on the plataform, by using links to file storage like Dropbox, GitHub, Google Drive, etc.
</p>
<p><strong>Hint</strong> -the challenge needs to have some hints to guide the player and in the solution file it needs to mention every hint.
  The hints number differs between difficulties, for exemple, Level 1 has more hints than Level 3.
</p>
<p><strong>Flag</strong> - the Flag is the proof someone solved the challenge and it needs to be in this format: ctf{abc_123}.<br>
It must ALWAYS start with "ctf{" and END with "}", in the middle it only accepts letters from a-z,A-Z (capital or small), numbers from 0-9 and the simbol "_" (underscore).<br>
<strong>WARNING</strong>: The flag MUST NOT contain space!<br>
The flag can also be the result of the challenge, in case the format before doesn't work, for example:<br>
--> Challenge: "Find the code that permits the binary file to run."<br>
-->"use the code you find as Flag" <br>
-->The code is 1234, then the flag will be ctf{1234}.
</p>
<p><strong>Resolution document</strong> - as mentioned before there needs to be a file/document explaining every step how to solve the challenge.</p><br>
<p>If the challenge respects all this parameters it may come to the platform!</p>