<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/how2play">How to play <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>

<h1>Challenges Guide Lines</h1>

<p>Na submissão do desadio este deve conter o seguinte:</p>

<p>Titulo</p>
<p>descrição: deve dizer em que consiste o desafio</p>
<p>categoria: deve-se encaixar numa das seguintes caegorias ("enumerar categorias") ou por em misc</p>
<p>dificuldade: o quam dificil é</p>
<p>recursos: ficheiros necessarios para a resolução do desafio como binarios, imagens, VMs e outros que são e onde estaram escondidas as Flags, o hosting destes deve ser feito num 
  local onde seja acessivel a outros como o github ou google drive
</p>
<p>hint (deve dar pistas sobre por onde começar no desafio/ resolver um ou mais botlenecks que se possam encontrar) dependendo do nivel 
  podemos escolher a quantidade de informação que revelamos</p>
<p>flag (a flag é o que o que encontramos depois de resolver o desafio e como tal é usado para provar que o conseguimos concluir o desafio
  a flag deve ter o seguinte formato 
  ctf{abc_123}  deve começar sempre por "ctf{" e acabar com "}" no meio apenas deve ter letras de a-z,A-Z (tanto maiusculas como minusculas) 0-9 numeros e "_" underscore
  não deve conter espaços)
a flag pode também ser contruida com o resultado do desafio caso não seja possivel usar o formtado anterior ex.: 
Desafio: encontrar o codigo que permite correr o binario
"usar o resultado como flag"
o codigo é 1234 então a flag será ctf{1234} 
</p>
<p>Proposta de resolução: deve haver um processo de resolução passo a passo do desafio</p>
<p></p>