<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/how2play">How to play <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>
<br>
<h1>How to play</h1>
<h1>!!!!! POR ISTO TUDO EM INGLES !!!!!</h1>
<p>Toda a interação é feita com o envio de emails para ctftesteacount@gmail.com. 
A comunicação segue o seguite formato, "Assunto" que ditará a função que queremos desempenhar 
e no "corpo do email" tere-mos informação cujo formato muda conforme o assunto</p>
<p>falar de como tem que ser exatamente como está no corpo do email porque senão não vai dar <<<<<<<<<<<<<<<<<<<<<<</p>

<h4>Registar</h4>
<p>the first step is to register in the platform</p>
<p>to do so, all you have to do, is to send an email with the following format</p>
<p>So, if i want to register myself with the username "Player101" i have to prefix it with "username/". Then in the body of the email, it should be written "username/Player101"</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Assunto: Register</div>
  <div class="card-body">
    <p class="card-text">username/Player101</p>
  </div>
</div>

<div class="alert alert-info">
  <strong>Note:</strong> username can only contain upper and lower case letters from A-Z, numbers(0-9), underscores ("_") and spaces.
  Must have between 6 and 20 characters
</div>
<p>
  TODO: mudar de username ?? 
</p>

<h4>Responder a desafio</h4>
<p>Para poder responder a um desafio basta enviar a flag encontrada juntamente com o id do desafio</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Assunto: Submission</div>
  <div class="card-body">
    <p class="card-text">Challenge Number/ctf{th1s_1s_a_fl4g}</p>
  </div>
</div>

<h4>Avaliar um desafio</h4>
<p>Para poder avaliar um desafio basta enviar "Yes" ou "No" com o id do desafio</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Assunto: Rating</div>
  <div class="card-body">
    <p class="card-text">ID do desafio/Yes</p>
  </div>
</div>

falar de como estão sugeitos a mudança mas que esta será comunicada ao autor antes de o desafio ser postado no site

<h4>Enviar um desafio</h4>
<p>To send a challenge we need to have in consideration some guidelines that will help in the process of sharing it on the platform (<strong><a href="/guideLines">Guide Lines</a></strong>)</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Assunto: SendChallange</div>
  <div class="card-body">
    <p class="card-text">Info about the challenge that follows the guidelines</p>
  </div>
</div>
