<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_BreakPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/how2play">How to play <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>
<br>
<h1>How to play</h1>
<p> Every interaction and comunication with the platform is made by sending emails to <strong>ctftesteacount@gmail.com.</strong><br>
The communication follows the following format:<br>
--> "Subject": it will dictate the command that we want to execute (for example: Submission).<br>
--> "Email body": it will have the information in a specific format according to the subject.<br>
--> <strong>It needs to respect the formats below for the email body to be valid or it will not work!</strong></p><br>

<h4>Register</h4>
<p>The first step is to register in the platform.</p>
<p>To do so, all you have to do, is to send an email with the format below.</p>
<p>If I want to register myself with the username "Player101" I have to prefix it with "username/". So in the body of the email, it should be written "username/Player101"</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Subject: Register</div>
  <div class="card-body">
    <p class="card-text">username/Player101</p>
  </div>
</div>

<div class="alert alert-info">
  <strong>Note:</strong> Username can only contain upper and lower case letters from A-Z, numbers(0-9), underscores ("_") and spaces.
  Must have between 6 and 20 characters
</div>

<h4>Submit a Flag</h4>
<p>In order to answer a challenge,  you need to send the Flag you found and the number that corresponds to the challenge.</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Subject: Submission</div>
  <div class="card-body">
    <p class="card-text">Challenge Number/ctf{th1s_1s_a_fl4g}</p>
  </div>
</div>

<h4>Rating a challenge</h4>
<p>To rate a challenge you need send "Yes"(good challenge) or "No"(bad challenge) with the challenge number.</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Subject: Rating</div>
  <div class="card-body">
    <p class="card-text">Challenge number/Yes</p>
  </div>
</div>

<h4>Send a challenge proposal</h4>
<p>To send a challenge we need to have in consideration some guidelines that will help in the process of sharing it on the platform (<strong><a href="/guideLines">Guide Lines</a></strong>)</p>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Subject: SendChallange</div>
  <div class="card-body">
    <p class="card-text">Info about the challenge that follows the guidelines.</p>
  </div>
</div>
