<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how2play">How to play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>

<h1>Main Page</h1>

<h2>Top 5</h2>
se ninguem do top5 tiver jogado nos ultimos 5 dias não aparece nada ...
<a href="/example1.png">
  <img src="/example1.png" alt="top5" style="width:90%">
</a>


<p>pagina a dizer como usar a plataforma mais detalhadamente (TODO: estou aqui!!!!)</p>
<p>guias de uso: mandar email e funcionalidades: (registar, rating, submeter desafio, resolver desafio)</p>
<p>o registar tem só pode ter estes caracteres (caracteres) e não pode passar dos 20 caracteres </p>

<a href="http://192.168.36.3:8081/chartTesteHard">Ver Charts !!!</a>
<br><br>
<a href="http://192.168.36.3:8081/leaderBoardTesteHard">LeaderBoard !!!</a>

<br><br>
<a href="http://192.168.36.3:8081/leaderboardTesteMongo">A usar o MongoDB -> LeaderBoard !!!</a>


<br><br>
<a href="http://192.168.36.3:8081/leaderboardTesteMongo">Ir buscar info de um user especifico</a>
devo ser capaz de:
ver desafios resolvidos (quais + quantidade)
ver desafios criados (se tiver...) tenho que por isso no schema também


<br><br>
<a href="http://192.168.36.3:8081/mongoNewQueryTeste">mongoNewQueryTeste</a>

<h1>limpar esta pagina e por aqui a imagem do Top 5</h1>

adicionar body e assim