<style>
  form {
    display:inline;
    margin:0px;
    padding:0px;
  }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_BreakPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how2play">How to play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search user">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>

<h2>Welcome to CTF_BreakPoint</h2>
<p>This is a platform made in mind for those people who want to learn more about Cybersecurity, by investing their time
  in trying to solve CTF challenges that we and the community provide in this simples and accessible plataform. So enjoy some good hacking!
</p>

<h2>LeaderBoards</h2>
<form action="/leaderboardTop10">
  <input class="btn btn-info" type="submit" value="See Top 10 LeaderBoard"/>
</form>
<form action="/leaderboardGlobal">
  <input class="btn btn-info" type="submit" value="See Global LeaderBoard"/>
</form>

<p><h2>Top 5 most active users</h2></p>
<!--if no one plays in the last 5 days, there's no graphic information ... -->
<a href="/example1.png">
  <img src="/example1.png" alt="top5" style="width:90%">
</a>


<!-- <a href="http://192.168.36.3:8081/leaderboardTesteMongo">Ir buscar info de um user especifico</a>
devo ser capaz de:ver desafios resolvidos (quais + quantidade) e ver desafios criados (se tiver...) tenho que por isso no schema também-->

<!-- <a href="http://192.168.36.3:8081/mongoNewQueryTeste">mongoNewQueryTeste</a> -->

</body>