<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chalanges... (e mostra os desafios)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">User... (e mostra os users todos)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>


<h1>User Info</h1>


<% if ( tabela.length == 0 ){ %>
  <h2>O user não foi encontrado</h2>
<% } else { %>
  <% for ( var i = 0;  i < tabela.length; i++) { %>
    <tr>
        <th scope="row"> # <%= i+1 %> </th>
        <td><%= tabela[i].username %></td>
        <td><%= tabela[i].nome %></td>
        <td><%= tabela[i].pontos %></td>
        <td>not implemented yet...</td>
    </div></td>
    </tr>
  <% } %>

<% } %>
